body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    text-align: center;
}

h2 {
    color: #2dffc4;
    font-size: 10em;
    margin-top: -100px;
    text-shadow:
        0 0 5px rgba(45,255,196,0.9),
        0 0 10px rgba(45,255,196,0.8),
        0 0 20px rgba(45,255,196,0.7),
        0 0 40px rgba(45,255,196,0.6);
}


.glowing-text {
    color: #2dffc4;
    text-shadow: 
        0 0 5px rgba(45,255,196,0.9),
        0 0 10px rgba(45,255,196,0.8),
        0 0 20px rgba(45,255,196,0.7),
        0 0 40px rgba(45,255,196,0.6);
}

input {
    background-color: black;
    color: rgba(45,255,196,0.9); 
    border: 1px solid rgba(45,255,196,0.9);
    padding: 30px;
    font-size: 1.2em;
    width: 500px;
    margin: 15px 0;
}

button {
    margin-top: 20px;
    padding: 20px 40px;
    font-size: 1.5em;
    background-color: rgba(45,255,196,0.9);
    color: black;
    border: solid;
    cursor: pointer;
}
