html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000000;
    color: #ff0000;
    overflow: hidden;
}

.large svg {
    width: 200px;
    height: 200px;
}

polygon {
    filter: url(#displacementFilter);
}
